<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main class="cover d-flex justify-content-center align-items-center">
  <div class="container login-form">
    <form>
      <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email"/>
      </div>

      <div class="mb-3">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="senha"/>
      </div>

      <div class="mt-5">
        <button type="submit" class="btn default-btn fs-6" id="btnLogin">Entrar</button>
        <a class="ms-3 text-success">Redefinir senha</a>
        <a href="/cliente" class="ms-3 text-success">Criar conta</a>
      </div>
    </form>
  </div>

  <script src="/assets/js/admin/loginCliente.js"></script>
  <%-include('../includes/end.ejs')%>