<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<main class="cover d-flex align-items-center justify-content-center">
  <div class="p-5 container">
    <form action="" class="p-5">
      <div class="mb-3">
        <label for="">Foto de perfil</label>
        <input type="file" class="form-control" name="" id="" />
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome" />
        </div>
		<div class="col-3">
			<label for="cpf">CPF</label>
			<input type="text" class="form-control" name="cpf" id="cpf" />
		</div>
		<div class="col-3">
			<label for="dataNasc">Data de Nascimento</label>
			<input type="text" class="form-control" name="dataNasc" id="dataNasc" />
		</div>
      </div>
      <div class="mb-3 row">
        <div class="col-6">
          <label for="email">E-mail</label>
          <input type="email" name="email" class="form-control" id="email" />
        </div>
		<div class="col-3">
			<label for="telefone">Celular</label>
			<input type="text" name="telefone" class="form-control" id="telefone" />
		</div>
		<div class="col-3">
			<label for="cep">CEP</label>
			<input type="text" name="cep" id="cep" class="form-control" />
		</div>
      </div>
	  <div class="mb-3 row">
		<div class="col-6">
			<label for="logradouro">Logradouro</label>
			<input type="text" name="logradouro" id="logradouro" class="form-control" />
		</div>
		<div class="col-2">
			<label for="numero">Número</label>
			<input type="text" name="numero" id="numero" class="form-control" />
		</div>
		<div class="col-4">
			<label for="bairro">Bairro</label>
			<input type="text" name="bairro" id="bairro" class="form-control" />
		</div>
	  </div>
	  <div class="mb-3 row">
		<div class="col-4">
			<label for="complemento">Complemento</label>
			<input type="text" name="complemento" id="complemento" class="form-control" />
		</div>
		<div class="col-6">
			<label for="cidade">Cidade</label>
			<input type="text" name="cidade" id="cidade" class="form-control" />
		</div>
		<div class="col-2">
			<label for="uf">UF</label>
			<select name="uf" id="uf" class="form-control">
				<option class="option" value="AC">AC</option>
				<option class="option" value="AL">AL</option>
				<option class="option" value="AM">AM</option>
				<option class="option" value="AP">AP</option>
				<option class="option" value="BA">BA</option>
				<option class="option" value="CE">CE</option>
				<option class="option" value="DF">DF</option>
				<option class="option" value="ES">ES</option>
				<option class="option" value="GO">GO</option>
				<option class="option" value="MA">MA</option>
				<option class="option" value="MG">MG</option>
				<option class="option" value="MS">MS</option>
				<option class="option" value="MT">MT</option>
				<option class="option" value="PA">PA</option>
				<option class="option" value="PB">PB</option>
				<option class="option" value="PE">PE</option>
				<option class="option" value="PI">PI</option>
				<option class="option" value="PR">PR</option>
				<option class="option" value="RJ">RJ</option>
				<option class="option" value="RN">RN</option>
				<option class="option" value="RO">RO</option>
				<option class="option" value="RR">RR</option>
				<option class="option" value="RS">RS</option>
				<option class="option" value="SC">SC</option>
				<option class="option" value="SE">SE</option>
				<option class="option" value="SP">SP</option>
				<option class="option" value="TO">TO</option>
			</select>
		</div>
	  </div>
      
      <div class="row mb-3">
        <div class="col-6">
          <label for="cargo">Cargo</label>
          <input type="text" class="form-control" name="cargo" id="cargo" />
        </div>
        <div class="col-3">
          <label for="departamento">Departamento</label>
          <select name="departamento" id="departamento" class="form-control">
			<option value="1">Atendimento</option>
			<option value="2">Estoque</option>
			<option value="3">Administração</option>
		  </select>
        </div>
		<div class="col-3">
			<label for="salario">Salário</label>
			<input type="text" class="form-control" name="salario" id="salario" />
		</div>
      </div>
      <button class="btn default-btn fs-6" id="btnCadastro">Cadastrar funcionário</button>
    </form>
  </div>

  <script src="assets/js/admin/cadastroFuncionario.js"></script>
  <%- include('../includes/end.ejs') %>