<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main class="cover pt-5">
    <div>
        <h1>me ignora eu tenho q ser retirado depois</h1><br><br>
        <div class="card">
            <div class="card-header">
                <H4>serviço solicitado</H4>
            </div>
            <div class="card-body">
                <div class="dados do clientee" >
                    <label>nome  </label>
                    <label>cpf  </label>
                    <label>dataNascCliente  </label>
                    <label>telefone  </label>
                    <label>logradouro  </label>
                    <label>bairro  </label>
                    <label>cidade  </label>
                </div>
                <div class="dados do servico">
                    <label>tipo  </label>
                    <label>valorServico  </label>
                    <label>duracao  </label>
                    <label>dataServico  </label>
                    <label>horaServico  </label>                
                    <label>dataServico  </label>
                    <label>horaServico  </label>
                    <label>baixa executada por: </label><label> nome func</label>
                </div>
                <div>
                    <form>
                        <button>DAR BAIXA</button>
                    </form>
                </div>
                <hr>
            </div><br>
            
        </div>
    </div>
</main>
<%-include('../includes/end.ejs')%>