<header>
  <nav class="navbar d-flex justify-content-around fixed-top navbar-dark navbar-expand-lg">
    <div class="container">
      <!-- categories -->
      <div class="dropdown">
        <a href="#" class="btn-dropdown" data-bs-toggle="dropdown"><i class="text-light fas fa-bars"></i></a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="produtos.html">Medicamentos</a></li>
          <li><a class="dropdown-item" href="#">Maternidade</a></li>
          <li><a class="dropdown-item" href="#">Higiene pessoal</a></li>
          <li><a class="dropdown-item" href="#">Cosméticos</a></li>
          <li><a class="dropdown-item" href="#servicos">Serviços</a></li>
          <li class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/enviar-parcerias">Seja nosso parceiro</a></li>
        </ul>
      </div>

      <!-- logo -->
      <a href="/" class="navbar-brand me-5 ms-5">DROFLIX <i class="fas fa-solid fa-capsules"></i></a>

      <!-- responsive nav -->
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav">
        <!-- search bar -->
        <form action="/search" method="POST" class="form-inline my-3 my-md-0">
          <div class="input-group">
            <input type="text" name="productTitle" class="nav-input form-control" placeholder="Pesquisar produtos" />
            <button class="input-group-text" type="submit" aria-label="Search"><i class="fas fa-search" aria-hidden="true"></i></button>
          </div>
        </form>

        <!-- links -->
        <ul class="navbar-nav ms-auto">
          <% if (!isLoggedIn) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cadastro">Cadastrar</a>
            </li>
          <% } else if (isLoggedIn && isAdmin) { %>
            <li class="nav-item">
              <a class="nav-link" href="minha-conta.html">Minha conta</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admin</a>
              <ul class="dropdown-menu">
                <li><a href="/cadastrar-produto" class="dropdown-item">Cadastrar produto</a></li>
                <li><a href="/funcionario" class="dropdown-item">Cadastrar funcionário</a></li>
                <li><a href="/cadastrar-servico" class="dropdown-item">Cadastrar serviço</a></li>
                <li><a href="" class="dropdown-item">Cadastrar loja parceira</a></li>
                <li><a href="/cupons" class="dropdown-item">Cupons de desconto</a></li>
                <li><a href="" class="dropdown-item">Agendamentos</a></li>
                <li><a href="" class="dropdown-item">Relatórios</a></li>
                <li><a href="/procurar-usuario" class="dropdown-item">Procurar usuários</a></li>
                <li><a href="/solicitacoes" class="dropdown-item">Solicitações</a></li>
                <li><a href="/entregas" class="dropdown-item">Entregas realizadas</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><i class="fas fa-bell"></i></a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="minha-conta.html">Minha conta</a>
            </li>
            <li class="nav-item">
              <a href="carrinho.html" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
            </li>
          <% } %>

        </ul>
      </div>
    </div>
  </nav>
</header>