<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main>
  <div class="mt-5 p-5 container d-flex flex-column align-items-center justify-content-center">
    <img class="img-fluid mt-5 svg-error" src="/assets/svg/dog_no_prod.svg" alt="">
    <h1 class="text-center txt-error text-decoration-none>Ops! Não consegui localizar nenhum <%= item %>.</h1>
  </div>
</main>
<%-include('../includes/end.ejs')-%>