<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main>
  <div class="mt-5 p-5 container d-flex flex-column align-items-center justify-content-center">
    <img class="img-fluid mt-5 col-3" src="/assets/svg/checkout.svg" alt="">
    <p class="text-center mt-5 fs-4">Sua compra foi confirmada! Em breve você receberá um e-mail com as informações sobre a entrega.</>
  </div>
  <div class="d-flex align-items-center justify-content-center mb-5">
    <a href="/" class="btn default-btn fs-6 text-decoration-none">Voltar ao início</a>
  </div>
</main>
<%-include('../includes/end.ejs')-%>