<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main class="pt-5">
  <!-- PROMOÇÕES -->
  <section class="promocoes">
    <div class="container">
      <div class="row py-5 justify-content-center">
        <!-- card -->
        <div class="card card-promo border-danger border-2 col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/desodorante.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title capitalize">Desodorante</p>
            <p class="card-text text-muted"><del>R$19,99</del></p>
            <p class="card-text text-danger"><strong>R$9,99</strong></p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="detalhes.html">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-promo border-danger border-2 col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/fralda pampers.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title capitalize">Fralda</p>
            <p class="card-text text-muted"><del>R$36,99</del></p>
            <p class="card-text text-danger"><strong>R$25,99</strong></p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="#">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-promo border-danger border-2 col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/lenço.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title capitalize">Lenço umedecido</p>
            <p class="card-text text-muted"><del>R$21,99</del></p>
            <p class="card-text text-danger"><strong>R$15,99</strong></p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="#">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-promo border-danger border-2 col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/novalgina.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title">Novalgina</p>
            <p class="card-text text-muted"><del>R$33,99</del></p>
            <p class="card-text text-danger"><strong>R$25,99</strong></p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="#">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MAIS VENDIDOS -->
  <section class="mais-vendidos">
    <div class="container">
      <div class="row py-5 justify-content-center">
        <p class="h5 text-muted mb-3 px-5">Mais vendidos</p>

        <!-- card -->
        <div class="card produto col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/hidratante.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title">Hidratante</p>
            <p class="card-text text-muted">R$41,99</p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="#">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>

        <!-- card -->
        <div class="card produto col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/strepsils.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title">Strepsils</p>
            <p class="card-text text-muted">R$17,99</p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="#">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>

        <!-- card -->
        <div class="card produto col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/dorflex.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title">Dorflex</p>
            <p class="card-text text-muted">R$19,99</p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="#">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>

        <!-- card -->
        <div class="card produto col-lg-4 text-center mb-3 me-md-3">
          <div class="h-75">
            <img class="card-img-top img-fluid" src="img/protetor-solar.webp" />
          </div>
          <div class="card-text mt-3">
            <p class="card-title">Protetor solar</p>
            <p class="card-text text-muted">R$49,99</p>
          </div>
          <div class="mt-3 d-flex flex-column justify-content-center">
            <a class="btn product-btn me-2" href="#">Detalhes</a>
            <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- NOSSOS SERVIÇOS -->
  <section class="servicos" id="servicos">
    <div class="container">
      <div class="row py-5 justify-content-center">
        <p class="h5 text-muted mb-3 px-5">Nossos serviços</p>

        <!-- card -->
        <div class="card card-servico mb-3 me-3">
          <img src="img/teste-covid.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Teste de COVID-19</h5>
            <a href="#" class="btn agendar-btn">Agende agora</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-servico mb-3 me-3">
          <img src="img/vacina.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Aplicação de vacinas</h5>
            <a href="#" class="btn agendar-btn">Agende agora</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-servico mb-3 me-3">
          <img src="img/diabetes.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Teste de diabetes</h5>
            <a href="#" class="btn agendar-btn">Saiba mais</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-servico mb-3 me-3">
          <img src="img/pressao.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Medição de pressão</h5>
            <a href="#" class="btn agendar-btn">Saiba mais</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-servico mb-3 me-3">
          <img src="img/furar-orelha.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Perfuração de orelha</h5>
            <a href="#" class="btn agendar-btn">Saiba mais</a>
          </div>
        </div>

        <!-- card -->
        <div class="card card-servico mb-3 me-3">
          <img src="img/curativo.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Realização de curativos</h5>
            <a href="#" class="btn agendar-btn">Saiba mais</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<%-include('../includes/end.ejs')%>